@import '~@angular/material/theming';

@mixin app-navbar-theme($theme) {
  $foreground: map-get($honeycrisp-app-theme, foreground);

  .navbar {
    position: fixed;
    top: 0;
    left: 0;

    nav {
      color: mat-color($foreground, text);
    }
  }
}





