@import '~@angular/material/theming';

// Component themes
@import './app/app.component.scss';
@import './app/components/app-navbar.component.scss';

@include mat-core();

$honeycrisp-app-primary: mat-palette($mat-red, 700);
$honeycrisp-app-secondary: mat-palette($mat-light-green, 400);
$honeycrisp-app-warn: mat-palette($mat-amber);

$honeycrisp-app-theme: mat-light-theme($honeycrisp-app-primary, $honeycrisp-app-secondary, $honeycrisp-app-warn);

@include angular-material-theme($honeycrisp-app-theme);

// Component mixins
@include app-base-theme($honeycrisp-app-theme);
@include app-navbar-theme($honeycrisp-app-theme);
