:root {
  --mdc-theme-primary: #d32f2f;
}

body {
  margin-top: 70px;
}
header {
  top: 0;
  left: 0;
}
.nav-menu {
  display: flex;
  flex-direction: row;
}
.nav-menu > div {
  margin-right: 0.8em;
}

.flex {
  display: flex;
  justify-content: center;
}
.subtagline {
  font-size: 2em;

}
.subtagline > h3 {
  margin-top: 10px;
}
.tagline {
  font-size: 2em;
}
.tagline > h2 {
  margin-bottom: 10px;
}
