@import '~@angular/material/theming';

@mixin app-base-theme($theme) {
  $background: map-get($honeycrisp-app-theme, background);

  body {
    background-color: mat-color($background);
    margin-top: 64px;
  }
}
